<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>local.mac.dogecoin.start</string>
        <key>Program</key>
        <string>/Applications/dogecoin/start</string>
        <key>WorkingDirectory</key>
        <string>/Applications/dogecoin</string>
        <key>StandardOutPath</key>
        <string>/Applications/dogecoin/start.log</string>
        <key>StandardErrorPath</key>
        <string>/Applications/dogecoin/start.log</string>
        <key>StartCalendarInterval</key>
        <dict>
	        <key>Hour</key>
	        <integer>22</integer>
	        <key>Minute</key>
	        <integer>0</integer>
        </dict>
        <key>UserName</key>
        <string>root</string>
        <key>GroupName</key>
        <string>wheel</string>
        <key>Nice</key>
        <integer>0</integer>
    </dict>
</plist>
